<h1>Devexicon</h1>

<h2>Language</h2>

<ul>
    {{#each topic}}
    <li>
        <p>
            {{this.id}}.{{this.topic}}

            <button data-topicid="{{this.id}}"
            class="deltopic">Delete Topic</button>
        </p>
    </li>
    {{/each}}
</ul>

<h2>Create a Topic</h2>
<form id="createtopic" class="button-size">
    <textarea type="text" name="topic"></textarea>
    <button type="submit">Save Topic</button>
</form>           
            
<h2>Update A Topic</h2>
<form id="updatetopic" class="button-size">
    <select name="id">
        {{#each topic}}
            <option value="{{this.id}}">{{this.topic}}</option>
        {{/each}}    
    </select>
    <textarea type="text" name="topic" placeholder="topic"></textarea>
    <button type="submit">Update Topic</button>
</form>     

<script type="text/javascript">
    $(".deltopic").on("click", function(event) {
        var id = $(this).data("topicid");

        //Delete request
        &.ajax("/api/topic/" + id, {
            type: "DELETE"
        }).then(
            function() {
                console.log("deleted id ", id);
                location.reload();
            }
        );
    });

$("#createtopic").on("submit", function(event) {
    event.preventDefault();
    var newTopic = {
        plan: $("#createtopic [name=topic]").val().trim()
    };

    //send POST request
    $.ajax("/api/topic", {
        type: "POST",
        data: newTopic
    }).then(
        function() {
            console.log("created new topic");
            location.reload();
        }
    );
});

$("#updatetopic").on("submit", function(event) {
    event.preventDefault();
    var id = $("[name=id]").val().trim();

    var updatedTopic = $("#updatetopic [name=topic]").val().trim()


//send PUT request
$.ajax("/api/topic/" + id, {
    type: "PUT",
    data: updatedTopic
}).then(
    function() {
        console.log("updated id ", id);
        location.reload();
    }
);
});
</script>